apiVersion: v1
kind: Pod
metadata:
  name: dnsconfig-pod
  labels:
    app: dnsconfig
spec:
  containers:
  - name: myapp-container
    image: ewoutp/docker-nginx-curl
  dnsPolicy: "None" # see https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-s-dns-policy
  dnsConfig:
    nameservers:
      - 8.8.8.8  